{% extends  'task/base.html' %}

{% block title %}Edit Task '{{ task.title }}'{% endblock %}

{% block content %}
    <h2 class="text-2xl font-semibold text-gray-800 mb-4">Edit Task '{{ task.title }}'</h2>
    <div class="bg-white shadow-sm rounded-lg p-6">
        <form method="post" action="{% url 'edit_task' task.id %}">
            {% csrf_token %}
           {{ form.as_p }}
            <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700">Update Task</button>
        </form>
    </div>
{% endblock %}